

.loan_deal {

    .total {
        background: #F7F9FB;
        padding: 8px 16px;
    }
}
.u-form {
    overflow: auto;
}
.u-button.u-button-secondary{
    color: #212121 !important;
    background-color: #d5d5d500 !important;
    border: 1px solid #eceff1 !important;
}
.u-panel .u-panel-title{
    font-size: 14px;
}
.panelform{
    height: calc(100vh * 0.53);
    overflow: auto;
}
.modal_form{
    margin: 5px 15px;
    .modal_header{
        border-radius: 15px 15px 0px 0px;
        background-color: #c1c7d0;
        .u-modal-header{
            padding: 3px;
        }
    }
    .u-modal-content{
        border-radius:15px;
        border: none;
    }
    .u-modal-body{
        height: calc(100vh * 0.5);
        overflow: auto;
    }

    .steps-contents {
        margin-top: 16px;
        border-radius: 6px;
        height: calc(100vh * 0.33);
        overflow: auto;
      }
}

.search_form{
    margin: 5px 15px;
    .modal_header{
        border-radius: 10px 10px 0px 0px;
        background-color: #c1c7d0;
        height: 35px;
        .u-modal-header{
            padding: 3px;
        }
    }
    .u-modal-title{
        padding: 5px;
    }
    .u-modal-body{
        padding: 0 !important;
    }
    .u-modal-content{
        border-radius:10px;
        border: none;
    }
    .search_form_left{
        display: inline-block;
        vertical-align: top;
        height:300px;
        width:200px;
        overflow: auto;
    }
    .search_from_right{
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        width: 445px;
        max-height: 300px;
        height: 300px;
        box-sizing: border-box;
        text-align: left;
        overflow: auto;
    }
    .between_model{
        display: flex;
        .datepicker-container{
           .u-input-group{
               margin-top:5px;
           }
        }
        .u-input-group{
            bottom:13px;
        }
    }
}