

.loan_deal {

    .total {
        background: #F7F9FB;
        padding: 8px 16px;
    }
}
.u-form {
    overflow: auto;
}
.u-button.u-button-secondary{
    color: #212121 !important;
    background-color: #d5d5d500 !important;
    border: 1px solid #eceff1 !important;
}
.u-panel .u-panel-title{
    font-size: 14px;
}
.panelform{
    height: calc(100vh * 0.53);
    overflow: auto;
}
