.grayDeep{
    background-color: rgb(241, 238, 238)
}



.contract{
  .form{
    background-color: rgb(241, 242, 245);
    border: 1px solid rgb(193, 199, 208);
    padding: 8px;  
    height: 600px;
    overflow: auto;
}
    .demo4-tabs{
      &.u-tabs-left, &.u-tabs-right{
        height: 650px;
      }
      .u-tabs-nav-scroll{
        text-align: center;
      }
    }
    .u-panel .u-panel-title{
      font-size: 14px;
  }
    .u-form-control{
      width:120px !important;
    }
    .u-panel-body{
      background-color: #f1f2f5;
    }
    .u-panel-heading{
      background-color: #00000000;
    }
  }


